<div class="container pad-top">
  <a ui-sref="newQAAccount" class="btn-primary btn-lg nodecoration">Add New Account</a>
  <table class="table qaaccounttable">
      <tr>
          <td><h3>Existing QA Accounts</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="qaaccount in qaaccounts">
          <td>{{qaaccount.firstName}}</td>
          <td>{{qaaccount.lastName}}</td>
          <td>{{qaaccount.accountNumber}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewQAAccount({id:qaaccount.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteQAAccount(qaaccount)">Delete</a>
          </td>
      </tr>
  </table>
</div>
